<!DOCTYPE html>
<html>
<style>
table, th, td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="customersCtrl">
<table>
  <tr>
    <th>id </th>
    <th>customer</th>
    <th>customerid</th>
    <th>contact</th>
    <th>address</th>
    <th>address2</th>
    <th>city</th>
    <th>state_</th>
    <th>phone</th>
    <th>document_</th>
  </tr>    
  <tr ng-repeat="x in clientes">
    <td>{{ x._id }}</td>
    <td>{{ x.customer }}</td>
    <td>{{ x.customerid }}</td>
    <td>{{ x.contact }}</td>
    <td>{{ x.address }}</td>
    <td>{{ x.address2 }}</td>
    <td>{{ x.city }}</td>
    <td>{{ x.state_ }}</td>
    <td>{{ x.phone }}</td>
    <td>{{ x.document_ }}</td>

      
  </tr>
</table>

</div>

<script>
var app = angular.module('myApp', []);
app.controller('customersCtrl', function($scope, $http) {
    $http.get("customers")
    .then(function (response) {$scope.clientes = response.data;console.log($scope)});
});
</script>

</body>
</html>

