




<div>
  <form method=post action="/customerupdate/{{id_}}">
  
    
      
    <dt><label for="id_">id_</label>
    <dd><input id="id_" name="id_" type="text" value="{{id_}}">
    
    </dd>
    
      
    <dt><label for="customer">customer</label>
    <dd><input id="customer" name="customer" type="text" value="{{customer}}">
    
    </dd>
  
      
    <dt><label for="customerid">customerid</label>
    <dd><input id="customerid" name="customerid" type="text" value="{{customerid}}">
    
    </dd>
  
      
    <dt><label for="address">address</label>
    <dd><input id="address" name="address" type="text" value="{{address}}">
    
    </dd>
  
      
    <dt><label for="address2">address2</label>
    <dd><input id="address2" name="address2" type="text" value="{{address2}}">
    
    </dd>
  
      
    <dt><label for="city">city</label>
    <dd><input id="city" name="city" type="text" value="{{city}}">
    
    </dd>
  
      
    <dt><label for="state_">state</label>
    <dd><input id="state_" name="state_" type="text" value="{{state_}}">
    
    </dd>
  
      
    <dt><label for="phone">phone</label>
    <dd><input id="phone" name="phone" type="text" value="{{phone}}">
    
    </dd>
  
      
    <dt><label for="contact">contact</label>
    <dd><input id="contact" name="contact" type="text" value="{{contact}}">
    
    </dd>
  
      
    <dt><label for="document_">document</label>
    <dd><input id="document_" name="document_" type="text" value="{{document_}}">
    
    </dd>
  
      
    <dt><label for="credit">credit</label>
    <dd><input id="credit" name="credit" type="text" value="{{credit}}">
    
    </dd> 
    
  <p><input type=submit value=ok>
</form>
</div>
