




<div>
  <form method=post action="/productupdate/{{id_}}">
  
    
      
    <dt><label for="id_">id_</label>
    <dd><input id="id_" name="id_" type="text" value="{{id_}}">
    
    </dd>
    
      
    <dt><label for="product">product</label>
    <dd><input id="product" name="product" type="text" value="{{product}}">
    
    </dd>
  
      
    <dt><label for="productid">productid</label>
    <dd><input id="productid" name="productid" type="text" value="{{productid}}">
    
    </dd>
  
      
    <dt><label for="group">group</label>
    <dd><input id="group" name="group" type="text" value="{{group}}">
    
    </dd>
  
      
  
      
    <dt><label for="price">state</label>
    <dd><input id="price" name="price" type="text" value="{{price}}">
    
    </dd>
  
      
    <dt><label for="packing">packing</label>
    <dd><input id="packing" name="packing" type="text" value="{{packing}}">
    
    </dd>
  
      
    <dt><label for="unitperpack">unitperpack</label>
    <dd><input id="unitperpack" name="unitperpack" type="text" value="{{unitperpack}}">
    
    </dd>
  
      
    <dt><label for="available">available</label>
    <dd><input id="available" name="available" type="text" value="{{available}}">
    
    </dd>
  
      
    <dt><label for="credit">credit</label>
    <dd><input id="credit" name="credit" type="text" value="{{credit}}">
    
    </dd> 
    
  <p><input type=submit value=ok>
</form>
</div>
